@{
    ViewBag.Title = "Login Pendvlo";
    Layout = "~/Views/Shared/_LayoutBlank.cshtml";
}

@section header{

    <title>Login Pendvlo</title>

    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="@Url.Content("/Content/login/vendor/bootstrap/css/bootstrap.min.css")">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="@Url.Content("/Content/login/fonts/font-awesome-4.7.0/css/font-awesome.min.css")">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="@Url.Content("/Content/login/fonts/iconic/css/material-design-iconic-font.min.css")">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="@Url.Content("/Content/login/vendor/animate/animate.css")">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="@Url.Content("/Content/login/vendor/css-hamburgers/hamburgers.min.css")">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="@Url.Content("/Content/login/vendor/animsition/css/animsition.min.css")">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="@Url.Content("/Content/login/vendor/select2/select2.min.css")">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="@Url.Content("/Content/login/vendor/daterangepicker/daterangepicker.css")">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="@Url.Content("/Content/login/css/main.css")">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="@Url.Content("/Content/login/css/util.css")">
}

<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <form class="login100-form validate-form">
                <span class="login100-form-title p-b-26">
                    Pendvlo
                </span>
                <span class="login100-form-title p-b-48">
                    <img src="~/logo.jpeg" alt="Logo" height="62" width="62">
                </span>

                <div class="wrap-input100 validate-input" data-validate="Valid email is: a@b.c">
                    <input id="user" class="input100" type="text" name="email" value="admin">
                    <span class="focus-input100" data-placeholder="Email"></span>
                </div>

                <div class="wrap-input100 validate-input" data-validate="Enter password">
                    <span class="btn-show-pass">
                        <i class="zmdi zmdi-eye"></i>
                    </span>
                    <input id="password" value="123456789" class="input100" type="password" name="pass">
                    <span class="focus-input100" data-placeholder="Password"></span>
                </div>

                <div class="container-login100-form-btn">
                    <div class="wrap-login100-form-btn">
                        <div class="login100-form-bgbtn"></div>
                        <button class="login100-form-btn" id="btnLogin">
                            Login
                        </button>
                    </div>
                </div>

                <div class="text-center p-t-115">
                    <span class="txt1">

                    </span>

                    <a class="txt2" href="#">

                    </a>
                </div>
            </form>
        </div>
    </div>
</div>


<div id="dropDownSelect1"></div>


<script>
    $(document).ready(function () {

        $("#btnLogin").click(function (e) {

            /*
                Validate all fields are filled correctly
             */
            var user = String($("#user").val()).trim();
            var password = String($("#password").val()).trim();

            if (user == "" || user === "undefined") {
                swal("Ingresa el usuario");
                return;
            }
            if (password == "" || password === "undefined") {
                swal("Ingresa el password");
                return;
            }

            //Disable the button and prevent double or more clicking
            $('#btnLogin').attr("disabled", true);
            $('#btnLogin').addClass("noEditableField");

            /*
                Make ajax call to controller to request
                */
            $.ajax({
                type: "POST",
                url: "/login/ValidateCredentials",
                contentType: "application/json; charset=utf-8",
                data: '{"user":"' + user + '","password":"' + password + '"}',
                dataType: "html",
                success: function (result) {
                    var json = JSON.parse(result);
                    if (json.Result_ == 1) {
                        window.location.href = "/";
                    }
                    else {
                        swal(json.error);
                    }
                },
                error: function (xhr, status, error) {
                    alert(error);
                    $('#btnLogin').attr("disabled", false);
                    $('#btnLogin').removeClass("noEditableField");
                    console.log("Result: " + status + " " + error + " " + xhr.status + " " + xhr.statusText);
                }
            });

            return false;
        });
    });
</script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
<link href="~/Content/sweetalert/sweet-alert.css" rel="stylesheet" />

<!--===============================================================================================-->
<script src="@Url.Content("/Content/login/vendor/jquery/jquery-3.2.1.min.js")"></script>
<!--===============================================================================================-->
<script src="@Url.Content("/Content/login/vendor/animsition/js/animsition.min.js")"></script>
<!--===============================================================================================-->
<script src="@Url.Content("/Content/login/vendor/bootstrap/js/popper.js")"></script>
<script src="@Url.Content("/Content/login/vendor/bootstrap/js/bootstrap.min.js")"></script>
<!--===============================================================================================-->
<script src="@Url.Content("/Content/login/vendor/select2/select2.min.js")"></script>
<!--===============================================================================================-->
<script src="@Url.Content("/Content/login/vendor/daterangepicker/moment.min.js")"></script>
<script src="@Url.Content("/Content/login/vendor/daterangepicker/daterangepicker.js")"></script>
<!--===============================================================================================-->
<script src="@Url.Content("/Content/login/vendor/countdowntime/countdowntime.js")"></script>
<!--===============================================================================================-->
<script src="@Url.Content("/Content/login/js/main.js")"></script>
