<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

    <link rel="SHORTCUT ICON" href="~/logo.jpeg" />

    @if (IsSectionDefined("header"))
    {
        @RenderSection("header", required: false)
    }

</head>
<body>

    @if (IsSectionDefined("mainMenu"))
    {
        @RenderSection("mainMenu", required: false)
    }


    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    @* Sweet alerts *@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
    <link href="~/Content/sweetalert/sweet-alert.css" rel="stylesheet" />

    <script type="text/JavaScript">

        //Autocomplete bug
        function getRidOffAutocomplete(filters) {

            var timer = window.setTimeout( function(){
                $(filters).prop('disabled',false);
                    clearTimeout(timer);
                }, 800);
    }

        $(document).ready(function () {

            var trigger = $('.hamburger'),
                overlay = $('.overlay'),
                isClosed = false;

            trigger.click(function () {
                hamburger_cross();
            });

            function hamburger_cross() {

                if (isClosed == true) {
                    overlay.hide();
                    trigger.removeClass('is-open');
                    trigger.addClass('is-closed');
                    isClosed = false;
                } else {
                    overlay.show();
                    trigger.removeClass('is-closed');
                    trigger.addClass('is-open');
                    isClosed = true;
                }
            }

            $('[data-toggle="offcanvas"]').click(function () {
                $('#wrapper').toggleClass('toggled');
            });                       

            /*
                Clic on logout menu
             */
            $("#logoutMenu").click(function () {

                /*
                    Validate if really close session
                    */
                swal({
                    title: "¿Seguro que quieres continuar?",
                    text: "",
                    icon: "",
                    buttons: [
                        'No',
                        'Si'
                    ],
                    dangerMode: false,
                }).then(function (isConfirm) {
                    if (isConfirm) {
                        window.location = "/login/logout";
                    } else {

                    }
                })
            });            
            
            /*
               Clic on menu
            */
            $("#viewNotasVentaMenu").click(function () {
                window.location = "/notasVenta";
            });
            $("#newNotaVentaMenu").click(function () {
                window.location = "/notasVenta/NewNotaVentaView";
            });
            $("#editNotaVentaMenu").click(function () {
                window.location = "/notasVenta/EditNotaVentaView";
            });
            $("#deleteNotaVentaMenu").click(function () {
                window.location = "/notasVenta/DeleteNotaVentaView";
            });

            /*
               Clic on customers menu
            */
            $("#clientesMenu").click(function () {

                /*
                    Go to clientes view
                    */
                window.location = "/customers";
            });

            /*
               Clic on home menu
            */
            $("#homeMenu").click(function () {

                /*
                    Go to home view
                    */
                window.location = "/";
            });

            /*
               Clic on view products menu
            */
            $("#viewProductsMenu").click(function () {

                /*
                    Go to home view
                    */
                window.location = "/products";
            });

            //Clic on menu
            $("#newProductMenu").click(function () {
                window.location = "/Products/NewProductView";
            });
            $("#editProductMenu").click(function () {
                window.location = "/Products/EditProductView";
            });
            $("#deleteProductMenu").click(function () {
                window.location = "/Products/DeleteProductView";
            });

            /*
               Clic on products menu
            */
            $("#productsMenu").click(function () {

                /*
                    Go to home view
                    */
                window.location = "/products";
            });

            /*
               Clic on users menu
            */
            $("#usersMenu").click(function () {

                /*
                    Go to home view
                    */
                window.location = "/users";
            });

            /*
               Clic on menu
            */
            $("#cuentasBancariasMenu").click(function () {

                /*
                    Go to view
                    */
                window.location = "/cuentasBancarias";
            });

            /*
               Clic on menu
            */
            $("#viewAccountsMenu").click(function () {

                /*
                    Go to view
                    */
                window.location = "/cuentasBancarias";
            });

            /*
               Clic on menu
            */
            $("#newAccountMenu").click(function () {
                window.location = "/CuentasBancarias/NewAccountView";
            });

            /*
               Clic on menu
            */
            $("#editAccountMenu").click(function () {
                window.location = "/CuentasBancarias/EditAccountView";
            });

            /*
               Clic on menu
            */
            $("#deleteAccountMenu").click(function () {
                window.location = "/CuentasBancarias/DeleteAccountView";
            });

            /*
                Clic on view all users menu
             */
            $("#viewUsersMenu").click(function () {
                window.location = "/Users";
            });
        
            /*
                Clic on new user menu
             */
            $("#newUserMenu").click(function () {
                window.location = "/Users/NewUserView";
            });

            /*
                Clic on edit user menu
             */
            $("#editUserMenu").click(function () {
                window.location = "/Users/EditUserView";
            });

            /*
                Clic on delete user menu
             */
            $("#deleteUserMenu").click(function () {
                window.location = "/Users/DeleteUserView";
            });
            
            /*  
                Clic on view customers menu
             */
            $("#viewCustomersMenu").click(function () {
                window.location = "/customers";
            });

            /*  
                Clic on new customer menu
             */
            $("#newCustomerMenu").click(function () {
                window.location = "/customers/NewCustomerView";
            });
            
            /*  
                Clic on edit customer menu
             */
            $("#editCustomerMenu").click(function () {
                window.location = "/customers/EditCustomerView";
            });        

            @if (IsSectionDefined("documentReady"))
            {
                @RenderSection("documentReady", required: false)
            }
        });

    </script>

</body>
</html>
