@model Pendvlo.ViewModels.UsersIndexViewModel

@{
    string tittle = "";
    string url = "";

    var module = -1;
    var sucursal = -1;
    var salesChecked = "";
    var encargadoSucChecked = "";
    var readOnly = "";
    var styleReadOnly = "";
    var successMessage = "";
    var readOnlyAdmin = "";
    var disabledAdmin = "";
    var user = "";
    var userName = "";
    var password = "";

    var edition = 0;

    if (Model.Type == Pendvlo.ViewModels.TYPE.NEW)
    {
        tittle = "Nuevo";
        url = "/users/NewUser";
        salesChecked = "checked";
        encargadoSucChecked = ""; //checked
        successMessage = "Usuario creado correctamente";

        ViewBag.Title = tittle + " Usuario Pendvlo!";
    }
    else if (Model.Type == Pendvlo.ViewModels.TYPE.MODIFY)
    {
        /*
            Admin user can not be modified
         */
        if (Model.User.User_ == "admin")
        {
            readOnlyAdmin = "readonly";
            disabledAdmin = "disabled";
        }

        edition = 1;

        user = Model.User.User_;
        userName = Model.User.Name;
        password = @Model.User.Password;

        tittle = "Editar Usuario Pendvlo!";
        module = Model.User.Module == null?-1: Model.User.Module.ID;
        sucursal = Model.User.Sucursal == null ? -1 : Model.User.Sucursal.ID;
        salesChecked = Model.User.Sales ? "checked" : "";
        encargadoSucChecked = Model.User.EncargadoSucursal ? "checked" : "";
        readOnly = "readonly";
        styleReadOnly = "noEditableField";
        url = "/users/EditUser";
        successMessage = "Usuario editado correctamente";

        ViewBag.Title = tittle + " Usuario " + Model.User.Name;
    }
    else
    {
        tittle = "Undefined";
    }
}

@section header{

    <link rel="stylesheet" type="text/css" href="@Url.Content("/Content/UsersIndex.css")">
}

@section mainMenu{

    @{
        Html.RenderPartial("MainMenu/_UsersMenu");
    }
}


<!-- Page Content -->
<div id="page-content-wrapper">
    <button type="button" class="hamburger is-closed" data-toggle="offcanvas">
        <span class="hamb-top"></span>
        <span class="hamb-middle"></span>
        <span class="hamb-bottom"></span>
    </button>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="form_main">
                    <h4 class="heading">
                        <strong>@tittle</strong> @user<span></span>
                    </h4>
                    <div class="form">
                        <form action="contact_send_mail.php" method="post" id="contactFrm" name="contactFrm">
                            <input id="name" type="text" required="" placeholder="Nombre" value="@userName" name="name" class="txt" @readOnlyAdmin>
                            <input id="user" type="text" required="" placeholder="Usuario" value="@user" name="mob" class="txt @styleReadOnly" @readOnly>
                            <input id="password" type="password" required="" placeholder="Password" value="@password" name="email" class="txt" @readOnlyAdmin><div class="clearfix"></div><br />
                            <input id="sales" type="checkbox" name="module" value="" @salesChecked @disabledAdmin> Vendedor<div class="clearfix"></div><br />
                            <div class="row">
                                <div class="col-xs-3">
                                    Departamento:
                                </div>
                                <div class="col-xs-9">
                                    <select id="module" @disabledAdmin>
                                        @foreach (var Module in Model.Modules)
                                        {
                                            <option value="@Module.ID" data-id="@Module.ID">@Module.Name</option>
                                        }
                                    </select>
                                </div><div class="clearfix"></div><br />
                                <div class="col-xs-3">
                                    Sucursal:
                                </div>
                                <div class="col-xs-9">
                                    <select id="sucursal" @disabledAdmin>
                                        @foreach (var Sucursal in Model.Sucursales)
                                        {
                                            <option value="@Sucursal.ID" data-id="@Sucursal.ID">@Sucursal.Name</option>
                                        }
                                    </select>
                                </div>
                                <div class="clearfix"></div><br />
                                <input id="encargadoSucursal" type="checkbox" value="" @encargadoSucChecked @disabledAdmin> Encargado de Sucursal<div class="clearfix"></div><br />
                            </div>                                                       
                            <input type="submit" value="Guardar" name="submit" class="txt2" id="btnSave" @disabledAdmin>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- /#page-content-wrapper -->

<script type="text/JavaScript">

    var module = @module;
    var sucursal = @sucursal;    

    $(document).ready(function () {

        /*
            Select the current user module
            */
        if (module != -1) {
            $("#module").val(module);
        }

        /*
            Select the current sucursal
            */
        if (sucursal != -1) {
            $("#sucursal").val(sucursal);
        }

        /*
            Clic en save button
         */
        $("#btnSave").click(function (e) {

            e.preventDefault();

            /*
                Validate all fields are filled
             */
            var name = $("#name").val();
            var user = $("#user").val();
            var password = $("#password").val();
            var sales = $("#sales").prop('checked') == true ? true : false;
            var encargadoSucursal = $("#encargadoSucursal").prop('checked') == true ? true : false;
            module = $('#module').find(":selected").attr("data-id");
            sucursal = $('#sucursal').find(":selected").attr("data-id");

            if (name === "" || name === 'undefined') {
                swal("Ingresa el nombre");
                $("#name").focus();                
                return;
            }
            if (user === "" || user === 'undefined') {
                swal("Ingresa el usuario");
                $("#user").focus();
                return;
            }
            if (password === "" || password === 'undefined') {
                swal("Ingresa el password");
                $("#password").focus();
                return;
            }
            if (module === "" || module === 'undefined') {
                swal("Selecciona el departamento");
                $("#module").focus();
                return;                
            }
            if (sucursal === "" || sucursal === 'undefined') {
                swal("Selecciona una sucursal");
                $("#sucursal").focus();
                return;
            }

            /*
                Validate if continue
                */
            swal({
                title: "¿Seguro que quieres continuar?",
                text: "",
                icon: "",
                buttons: [
                    'No',
                    'Si'
                ],
                dangerMode: false,
            }).then(function (isConfirm) {
                if (isConfirm) {

                    /*
                    Save the user in the server
                    */
                    $.ajax({
                        type: "POST",
                        url: "@url",
                        contentType: "application/json; charset=utf-8",
                        data: '{"name":"' + name + '","user":"' + user + '","password":"' + password + '","sales":"' + sales + '","module":"' + module + '", "sucursal":"' + sucursal + '","encargadoSucursal":"' + encargadoSucursal + '"}',
                        dataType: "html",
                        success: function (result) {
                            var json = JSON.parse(result);
                            if (json.Result_ == 1) {
                                swal({
                                    title: "@successMessage",
                                    text: "",
                                    icon: "",
                                    button: 'Si',
                                    dangerMode: false,
                                }).then(function (isConfirm) {
                                        window.location.href = '/Users';
                                    })
                            }
                            else {
                                swal(json.error);
                            }
                        },
                        error: function (xhr, status, error) {
                            alert(error);
                            console.log("Result: " + status + " " + error + " " + xhr.status + " " + xhr.statusText);
                        }
                            });

                    } else {
                        //Nothing to do
                    }
                })            
        });        
               
    });

    /*
            Clear all the fields
         */
    function clearAllFields() {

        $("#name").val("");
        $("#user").val("");
        $("#password").val("");
        $('#sales').prop('checked', true);
        $("#module").val($("#module option:first").val());
        $("#sucursal").val($("#module option:first").val());
    }

</script>